.modal {
  display: flex;
  flex-direction: column;
}

.backdrop {
  background-color: transparent;
  flex-direction: column;
  cursor: pointer;
}

.box {
  width: 100%;
  max-width: 364px;
  background-color: #fff;
  padding: 24px;
  margin: auto;
  outline: 0;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
  position: absolute;

  @media (max-width: 600px) {
    left: 50%;
    transform: translateX(-50%);
  }
}


.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: none;
  border: none;
  color: #999;
  font-size: 24px;
  cursor: 'pointer';
}

.typography {
  font-size: 18px;
  margin-bottom: 18px;
}

.textField {
  margin-bottom: 16px;
}

.datePickerWrapper {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.datePickerWrapper>svg {
  margin-right: 16px;
  height: 20px;
}

.buttonWrapper {
  display: flex;
  place-content: flex-end;
  margin-top: auto;
  gap: 16px;
}

.buttonWrapper>button {
  font-size: 14px;
  height: 40px;
}

.spanError {
  color: #d32f2f;
  margin: -8px 0 16px 0;
  padding: 0;
}

.alert {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}