.wrapper {
  column-gap: 1;
}

.heading {
  font-size: 16px;
  text-decoration: underline;
  margin-top: 0;
  font-weight: 400;
}

.smallText {
  font-size: 12px;
}

.span {
  color: #b9b9b9;
  font-size: 14px;
  font-style: italic;
}