@import "../../constant.css";

.headerBar {
    position: sticky;
    background-color: var(--blue);
}

.container {
  max-width: initial;
}

.title {
  display: flex;
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  line-height: 25px;
  align-items: center;
  margin-right: 16px;
  font-size: 20px;
  padding-left: 0;
}

.title img {
  margin-right: 10px;
}

.avatar {
  flex-grow: 0;
  margin-left: auto;
}

.avatarBatton {
  padding: 0;
}

@media (min-width: 900px) {
  .desktopContainer {
    display: flex;
  }

  .mobileContainer,
  .menuAppBar {
    display: none;
  }
}